.article-panel .panel-heading,.article-panel .panel-heading a {color: #9b9b9b;}
.article-panel.panel-default>.panel-heading{overflow: hidden;margin-bottom: 5px;}
.article-panel .panel-heading h1{font-size: 28px; color: #333;margin-bottom: 10px;}
.article-panel ul li{float: left;margin-right: 20px;}
.article-panel ul li span,.article-panel ul li i.fa{ font-size: .8em; }
.article-panel .panel-body{padding: 15px 0;}
.article-panel .panel-body article{font-size: .8em;}
.article-panel .panel-body article p{margin-bottom: 10px;word-break: break-all;}
.article-panel .panel-body article h2{font-size: 24px;margin:20px 0 10px 0;font-weight: 500;}
.article-panel .panel-body article a {color: #22b38a;}
.article-panel .panel-body article pre{margin-bottom: 28px;}
.article-panel .panel-body article blockquote {border-left: 5px solid #22b38a;padding: 5px 0 5px 10px;background-color: #e0e0e0;}
.article-panel .panel-body article blockquote p{margin-bottom: 0;}
.article-panel .panel-body article img{width: 100%;}
.article-panel .panel-body article hr{margin:20px 0;}
.article-panel .panel-body ol{margin: 10px 0;padding: 0 0 0 1.25em;}
.article-panel .panel-footer {margin: 30px 0;padding: 0; border-top: 1px solid #e0e0e0;}
.article-panel .panel-footer .user-info{margin-top: 30px;color: #9b9b9b;}
.article-panel .panel-footer .user-info a{color: #9b9b9b;}

.breadcrumb{ border-bottom: 1px solid #e0e0e0; padding-bottom: 15px;    margin-bottom: 15px; }
.breadcrumb a{ font-size: .8em; }
.page-render{width: 95%;margin: 30px 0 10px ;padding-bottom: 20px; border-bottom: 1px solid #e0e0e0;}

.media-left, .media-right, .media-body {
    display: table-cell;
    vertical-align: top;
}
.media-left, .media>.pull-left {
    padding-right: 10px;
}
.page-comment{

}
.page-comment h3{
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #e0e0e0;
}
.reply-box{
	position: relative;
	padding-left: 60px;
}
.reply-box .reply-avatar{
	position: absolute;
	top: 0;
	left: 0;
}
.reply-box .reply-text{padding: 5px;}
.reply-box .reply-text textarea{width: 100%;height: 54px;}
.reply-text span{font-size: 13px;color: #d32;}
.reply-text p{font-size: 13px;margin:.5em 0;line-height: 1.5em;}
.reply-box .reply-footer{overflow: hidden;}
.commen-list {margin-top: 20px;}
.commen-list h5{
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.reply-box {border-bottom: 1px solid #e0e0e0;padding-bottom: 15px;}
.commen-list .reply-box{margin-top: 10px;}
.commen-list .reply-footer{color: #999;}
.commen-list .reply-footer .r_time{margin-left: 10px;}
.img-circle {border-radius: 50%;}
@media (max-width: 992px){
    
}
@media (max-width: 768px){
    .panel-test.article-panel,.page-render,.page-comment{width: auto;}
}
@media (max-width: 478px){
    .page-wrap{width: 100%;}
    .panel-test.article-panel{padding: 15px 10px;}
}
